body
{
    background-color: rgb(150, 255, 220);
}

h1
{
    color:rgb(0, 91, 202);
    background-color: rgb(150, 255, 220);
    
}

#show_sketch
{
    float:right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 38px rgb(0, 110, 20);}
    to{box-shadow: 1px 1px 38px rgb(8, 0, 255);}
}


p
{
    padding-top: 10px;
    font-size: 25px;
}